/* Navbar Styling */
.navbars {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbars2 {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #003366;
  transition: background-color 0.3s ease;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.navbars.scrolled {
  background-color: #003366;
}

.navbars-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 120px;
}

.navbars-logo {
  height: 50px;
  width: auto;
  margin-right: 2rem;
}

.navbars-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbars-item {
  margin: 0 20px;
}

.navbars-item:nth-last-child(0) {
  margin: 0 0 0 20px;
}

.navbars-item a,
.navbars-item button {
  color: #fff;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

.btn-bos {
  border: 2px solid #fff;
  padding: 8px 12px;
  border-radius: 5px;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #003366;
  list-style: none;
  padding: 10px 0;
  z-index: 1;
}

.navbars-item:hover .submenu {
  display: block;
}

.has-submenu {
  font-weight: 600;
  text-transform: uppercase;
}

.submenu li {
  padding: 5px 20px;
}

.submenu li a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.navbars-buttons {
  font-weight: 600;
  text-transform: uppercase;
}

.navbars-container .hamburger {
  display: none;
  position: absolute;
  right: 20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 993px) and (max-width: 1200px) {

  .navbars,
  .navbars2 {
    width: 100%;
    padding: 15px 20px;
  }

  .navbars-logo {
    position: absolute;
    top: 0;
    /* margin-right: 1rem; */
  }

  .navbars-item {
    margin: 0 8px;
  }
}

@media screen and (max-width: 992px) {

  .navbars,
  .navbars2 {
    padding: 40px 30px;
    width: 100%;
  }

  .navbars-container {
    display: flex;
    padding: 0;
  }

  .navbars-logo {
    position: absolute;
    margin-right: 0;
    top: 15px;
    left: 20px;
    /* bottom: 0; */
  }

  .navbars {
    background-color: #003366;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  }

  .navbars-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #003366;
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
  }

  .navbars-menu.active {
    display: flex;
  }

  .navbars-item {
    margin: 10px 0;
    width: 100%;
  }

  .btn-bos {
    width: auto;
  }

  .navbars-container .hamburger {
    display: block;
    position: absolute;
    top: 1rem;
  }

  .navbars-container .hamburger.active {
    position: fixed;
    top: 1rem;
    right: 20px;
    z-index: 1100;
  }

  .submenu {
    position: static;
    padding-left: 20px;
  }

  .submenu li {
    padding-left: 20px;
  }

  .submenu li:first-child {
    padding-top: 10px;
  }
}